* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

/* ------------Header Section-------- */
.header {
  width: 100%;
  background-color: white;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
}
.header__logo {
  padding: 25px 0px;
}
.header__menu {
  padding: 50px 0px;
}
.header__list {
  text-align: right;
  list-style: none;
}
.header__item {
  display: inline;
  padding-left: 60px;
}
.header__link {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  text-decoration: none;
  letter-spacing: 0.05em;
}
.header__checkbox {
  display: none;
}
.header__menu-icon {
  display: none;
}

/* ------------Container-------- */
.container {
  width: 100%;
}

/* ------------Intro Section-------- */
.intro {
  width: 100%;
}
.intro__img {
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url(images/hero-banner.jpg) no-repeat center;
  background-size: cover;
}
.intro__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  text-align: center;
}
.intro__desc {
  font-size: 28px;
  font-weight: 500;
}

/* ------------About Section-------- */
.about {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 100px 150px;
}
.about__heading {
  font-size: 36px;
  font-weight: 800;
}
.about__desc {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  color: #333333;
}

/* ------------All Buttons-------- */
.btn {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #333333;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

/* ------------Projects Section-------- */
.project {
  width: 100%;
  padding: 100px 150px;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.project__heading {
  font-size: 36px;
}
.project__gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 34px;
  margin: 50px 0px;
}
.project__img {
  width: 100%;
}
.project--btn {
  margin: 0px;
}
.project--btn:hover {
  background: #333333;
  color: #ffffff;
}

/* ------------Contacts Section-------- */
.contacts {
  padding: 100px 150px;
  text-align: center;
}
.contacts__heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 34px;
}
.contacts__desc {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 34px;
}
.contacts__social-icon {
  padding: 0px 10px;
}

/* ------------Break line-------- */
.line {
  border: 1px solid rgb(247, 247, 247);
}

/* ------------Footer-------- */
.footer {
  padding: 45px 150px;
}

/* -----------MOBILE RESPONSIVE CSS------------*/

/* ------------Media query for devices upto 768px width-------- */
@media (max-width: 768px) {
  /* ------------Header-------- */
  .header__wrap {
    padding: 0px;
  }
  .header__logo {
    width: 200px;
    height: 110px;
    padding: 25px 0px;
    margin-left: 30px;
  }
  .header__menu {
    position: absolute;
    background-color: #ffffff;
    top: 90px;
    left: -1000px;
    padding: 0px 30px;
    margin: 0px;
    width: 100%;
    z-index: 1;
  }
  .header__menu-icon {
    display: block;
    cursor: pointer;
    font-size: 22px;
    margin: 35px 30px;
    padding: 5px 10px;
    color: #111111;
    border: solid 2px black;
    border-radius: 8px;
  }
  .header__list {
    display: block;
    width: 100%;
    margin: 0px;
    padding-top: 50px;
    text-align: left;
  }
  .header__item {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .header__link {
    display: block;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 800;
    color: #333333;
    text-decoration: none;
    letter-spacing: 0.05em;
  }
  /* ------------To show menu on clicking bars icon-------- */
  #checkbox:checked ~ .header__menu {
    left: 0;
    max-height: 250px;
    transition: all 0.5s;
  }
  /* ------------Intro Section-------- */
  .intro__img {
    height: 400px;
  }
  .intro__line {
    width: 100%;
    font-size: 30px;
  }
  .intro__heading {
    font-size: 48px;
  }
  /* ------------About Section-------- */
  .about {
    display: block;
    text-align: center;
    margin: 50px 0px;
    padding: 0px;
  }
  .about__heading {
    margin: 0px;
    margin-bottom: 10px;
  }
  .about__desc {
    margin: 0px;
    padding: 0px 30px;
    width: 100%;
  }
  /* ------------All Buttons-------- */
  .btn {
    padding: 20px 40px;
  }
  /* ------------Project Section-------- */
  .project {
    width: 100%;
    padding: 50px 30px;
    text-align: center;
    background-color: rgb(241, 242, 243);
  }
  .project__heading {
    font-size: 36px;
  }
  .project__gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    /* gap: 30px; */
    margin: 30px 0px;
  }
  .project__img {
    width: 100%;
  }
  .project--btn {
    margin-bottom: 0px;
  }
  /* ------------Contacts Section-------- */
  .contacts {
    padding: 50px 30px;
  }
  .contacts__heading {
    font-size: 48px;
  }
  /* ------------Footer-------- */
  .footer {
    padding: 50px;
    margin-left: 0px;
    text-align: center;
  }
}
/* ------------MOBILE RESPONSIVE END-------- */
